/**
 * iOS style loading spinner.
 * Adapted from: https://loading.io/css/
 * With some help scaling it: https://signalvnoise.com/posts/2577-loading-spinner-animation-using-css-and-webkit
 */

.spinner {
  display: inline-block;
  position: relative;
  width: 5rem; /* w-20 */
  height: 5rem; /* h-20 */
}

.spinner > div {
  position: absolute;
  transform-origin: 50% 50%;
  width: 100%;
  height: 100%;
  animation: spinner 1.2s linear infinite;
}

.spinner > div::after {
  display: block;
  position: absolute;
  border-radius: 9999px;
  background-color: #374151; /* gray-700 */
  content: ' ';
  top: 3.75%;
  left: 46.25%;
  width: 7.5%;
  height: 22.5%;
}

/* Dark mode override */
.dark .spinner > div::after {
  background-color: #9ca3af; /* gray-400 */
}

.spinner > div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.spinner > div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.spinner > div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.spinner > div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.spinner > div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.spinner > div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.spinner > div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.spinner > div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.spinner > div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.spinner > div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.spinner > div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.spinner > div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
